/*
    @   en css se usan los selectores
    @   se escribe el nobre del elmento para hacer referencia a todos los tipos de este,
    dentro del archivo html desde donde se llame (ej: body)
    @   se pude escribir, separado por espacios, la gerarquia de etiquetas html para hacer referencia
    a etiquetas que estan contenidas en otras (ej: header h1)
    @   tambien se escriben, despues de un punto, los nombres de las clases asignadas a las estiquetas,
    para hacer referencia a las etiquetas que usen esa clase (ej: .container)
*/
html{
    font-family: 'Montserrat', sans-serif; /*Lista las fuentes que usara el docmento,
                                            gerarquicamente, de izquierda a derecha, usara las funtes,
                                            en caso de no encontrar una, usara la siguiente*/
}

body{
    margin: 0; 
    background-color: #efefef;
}
header{
    background-color: #21384d;
    color: #efefef;
    padding: 3rem 2rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
}
body section { /*No se por que, pero aqui iba la calse <.container>*/
    width: 400px;
    margin: 0 auto;
}
section article {
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,4);
}
section article h2, section article p{
    margin: 1rem rgba(0,0,0,3);
    
}
footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color: cornflowerblue;
}